.container {
  width: 100%;
  min-height: 100%;
  white-space: nowrap;
  display: grid;
  grid-gap: 20px;
  grid-template-rows: fit-content auto;
  padding: 20px;
}
.header {
  height: fit-content;
  display: grid;
  grid-auto-flow: column;
  border-bottom: 1px solid #bc8c4e;
}
.header h1 {
  font-size: 25px;
  font-weight: 600;
}
.content {
  height: fit-content;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, fit-content);
}
.searchBox {
  grid-column: span 2;
  width: 100%;
  height: fit-content;
  display: flex;
}
.searchInput {
  width: 100%;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.searchInput:focus {
  outline-width: 0px;
}
.searchButton {
  justify-self: center;
  width: 60px;
  height: 40px;
  background: #b8894e;
  border: none;
  border-radius: 0px 5px 5px 0px !important;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
.searchIcon {
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  color: #ffffff;
}
.content button {
  height: fit-content;
  background: #b8894e;
  font-size: 15px;
  font-weight: 525;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 11px;
  cursor: pointer;
}
.btnAdd {
  grid-row: span 1;
  grid-column: span 1;
}
.grey {
  background-color: #d3d3d3;
}
.tbbb {
  grid-row: span 1;
  grid-column: span 4;
  overflow-x: auto;
}
.tbbb p {
  width: fit-content;
  font-weight: bold;
  color: #8a171a;
  font-size: 1.525em;
  margin: 50px auto;
}
.container select {
  grid-row: span 1;
  grid-column: span 1;
}
.container table {
  background: #ffffff;
  border-spacing: 0;
  border: 1px solid #bc8c4e;
  border-collapse: separate !important;
  box-sizing: border-box;
  border-radius: 5px;
}
.container table div {
  width: 100%;
  height: 100%;
  display: flex;
}
.container table button {
  width: 40px;
  height: 40px;
}
.container th {
  background: #343339;
  color: #ffffff;
  padding: 10px 10px;
}
.container td {
  padding: 5px 10px;
  border-bottom: 1px solid #bc8c4e;
}
.container th:nth-child(1),
.container td:nth-child(1) {
  text-align: left;
}
.container th:nth-child(2),
.container td:nth-child(2) {
  text-align: left;
}
.container th:nth-child(3),
.container td:nth-child(3) {
  text-align: left;
}
.container th:nth-child(4),
.container td:nth-child(4) {
  text-align: right;
}
.container th:nth-child(5),
.container td:nth-child(5) {
  text-align: left;
}

@media (max-width: 768px) {
  .searchBox {
    grid-row: span 1;
    grid-column: span 4;
  }
  .container select {
    grid-row: span 1;
    grid-column: span 2;
  }
  .btnAdd {
    grid-row: span 1;
    grid-column: span 2;
  }
}
