.container {
  width: 100%;
}
.imageContainer {
  min-height: 500px;
  background-color: aqua;
}
.infoContainer {
  min-height: 500px;
  background-color: aquamarine;
}

input,
textarea {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 10px;
}

input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input-group {
  clear: both;
  margin: 15px 0;
  position: relative;
}

.input-group input[type="button"] {
  background-color: #eeeeee;
  min-width: 38px;
  width: auto;
  transition: all 300ms ease;
}

.input-group .button-minus,
.input-group .button-plus {
  font-weight: bold;
  height: 40px;
  padding: 0;
  position: relative;
}

.input-group .quantity-field {
  position: relative;
  height: 40px;
  left: -6px;
  text-align: center;
  width: 62px;
  display: inline-block;
  font-size: 16px;
  margin: 0 0 5px;
  resize: vertical;
  border: 1px solid rgb(139, 139, 139);
}

.button-plus {
  left: -13px;
}

input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
}

.product-name {
  font-size: 36px;
  margin: 5px 0 20px;
}

.product-infor {
  margin-left: 20px;
}

.product-infor .brand {
  font-size: 18px;
}
.product-infor .brand .name.red {
  font-size: 24px;
  color: red;
}

.product-infor .brand .name.green {
  font-size: 24px;
  color: green;
}
.product-infor .price {
  font-size: 36px;
  color: palevioletred;
}
.product-infor .description {
  font-size: 18px;
}

.button-minus,
.button-plus {
  border: 1px solid black;
  border-right: none;
  border-radius: 50%;
  font-size: 22px;
}

.quantity-field {
  font-size: 24px;
}

.buyNow,
.addCart {
  padding: 14px;
  border: 1px solid black;
  border-radius: 15px;
  height: 43px;
  background: #bc8c4e;
  font-size: 18px;
  color: #ffffff;
  margin-top: 5px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}
.buyNow,
.addCart:hover {
  background: #8a7152;
}

.addCart {
  margin-left: 20px;
}

.product-rate .rate {
  margin-top: 40px;
  margin-left: 20px;
  padding-bottom: 5px;
  margin-bottom: 20px;
  width: 90%;
  border-bottom: 1px solid black;
  position: relative;
}
.product-rate {
  position: relative;
}

.product-rate .comment .rate-img img {
  max-width: 100px;
  height: 100px;
  display: flex;
  justify-items: center;
  border-radius: 50%;
  margin-left: 10px;
}
.product-rate .rate-detail {
  margin-top: 10px;
}
.product-rate .rate-detail .rate-content {
  margin-left: 10px;
}

.user-rate {
  padding-top: 5px;
  margin: 0;
}

.total-rate {
  font-size: 18px;
}

.total-rate .red {
  color: red;
}
.add-comment {
  position: absolute;
  right: 0;
  margin-top: 6px;
  padding: 4px 10px 10px;
  background: #bc8c4e;
  border: none;
  color: #ffffff;
  padding: 10px;
  cursor: pointer;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.add-comment:hover {
  background: #8a7152;
}
@media only screen and (min-width: 768px) {
  .product-infor {
    margin-left: 10px;
  }
  .product-rate .rate {
    width: 100%;
  }
  .total-rate {
    position: absolute;
    right: 10%;
  }
  .product-rate .rate {
    margin-bottom: 20px;
  }
  .add-comment {
    position: absolute;
    right: 5%;
    bottom: 0;
    padding: 10px;
    border: 1px solid rgb(136, 135, 135);
    border-bottom: none;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .product-rate .comment .rate-img img {
    max-width: 120px;
    height: 120px;
  }

  .user-rate {
    padding-top: 15px;
  }
}

@media only screen and (max-width: 768px) {
  .product-infor,
  .product-name {
    margin-top: 10px;
    margin-left: 10px;
  }
  .brand {
    margin: 0;
  }
  .price {
    margin: 15px 0;
  }
}
.product-img img {
  max-height: 500px !important;
}

.buying-button {
  margin-top: 10px;
}
