.container {
  width: 100%;
  min-height: 100%;
  white-space: nowrap;
  /* display: grid; */
  grid-gap: 20px;
  grid-template-rows: fit-content auto;
  margin: 2% 0 5% 0;
}
.header {
  height: fit-content;
  display: grid;
  grid-auto-flow: column;
  border-bottom: 1px solid #bc8c4e;
  color: #000;
  line-height: 40px;
  margin: 0px;
  border-left: solid 4px #bc8c4e;
  padding-left: 10px;
  font-size: 1.25em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.header h1 {
  font-size: 25px;
  font-weight: 600;
}
.content {
  height: fit-content;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, fit-content);
}
.btnAdd {
  grid-row: 1;
  grid-column: 4;
}
table {
  grid-row: 2;
  grid-column: 1 / span 4;
  width: 100%;
  background: #f9f9f9;
  border-spacing: 0;
  /* border: 1px solid #bc8c4e; */
  box-sizing: border-box;
  border-radius: 5px;
  overflow: hidden;
}
table div {
  width: 100%;
  height: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 10px;
}
th {
  background: #343339;
  color: #ffffff;
  padding: 10px 10px;
}
.tdOrder {
  /* padding: 5px 10px; */
  /* border-bottom: 1px solid #bc8c4e; */
  /* width: 50%; */
  height: fit-content;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, fit-content);
}
th:nth-child(1),
td:nth-child(1) {
  width: 1%;
  text-align: left;
}
th:nth-child(2),
td:nth-child(2) {
  width: 1%;
  text-align: left;
}
th:nth-child(3),
td:nth-child(3) {
  width: 1%;
  text-align: right;
}
th:nth-child(4),
td:nth-child(4) {
  width: 1%;
  text-align: center;
}
th:nth-child(5),
td:nth-child(5) {
  width: 1%;
  text-align: left;
}
th:nth-child(5),
td:nth-child(5) {
  width: 1%;
  text-align: left;
}
th:nth-child(6),
td:nth-child(6) {
  width: 1%;
  text-align: left;
}
.card {
  border-radius: 10px;
  background-color: #f9f9f9;
  border: solid 1px #bc8c4e;
}
.cardInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: stretch;
  margin: 10px;
}
.row {
  background-color: #bc8c4e;
  height: 20%;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  border-radius: 10px 10px 0 0;
}
.col {
  display: flex;
  align-items: center;
  justify-content: center;
}
.imgContainer {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  padding-top: 100%;
  border-radius: 5px 5px 5px 5px;
  overflow: hidden;
}
.imgContainer img {
  position: absolute;
  top: 10px;
  width: 70%;
  height: 70%;
  object-fit: cover;
  transition: transform 0.5s;
}
.vl {
  display: flex;
  justify-content: end;
  margin: 0 10px;
  padding: 10px 30px;
}
.vl span:first-child {
  border-right: 3px solid red;
}
.sts {
  width: fit-content;
  height: fit-content;
  padding: 0 20px;
}
.button {
  height: 40px;
  width: -webkit-fill-available;
  font-family: inherit;
  font-size: 15px;
  font-weight: 525;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin: 10px;
}
.btnAdd {
  grid-row: span 1;
  grid-column: span 1;
}

.icon {
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  color: #ffffff;
  margin-right: 5px;
}
.price {
  font-weight: bold;
  color: #8a171a;
  font-size: 1.125em;
}
.tab {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  margin: 0;
  padding: 0;
  background-color: #bc8c4e;
}

.row1 {
  height: 20%;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  border-radius: 10px 10px 0 0;
  background-color: #343339;
  border-radius: 0 0 10px 10px;
}
@media (max-width: 768px) {
  .row1 {
    background-color: #343339;
    height: 20%;
  }
  .button {
    margin-bottom: 10px;
  }
  .imgContainer {
    position: relative;
    width: 100%;
    padding-top: 100%;
    border-radius: 5px 5px 5px 5px;
    overflow: hidden;
  }
  .imgContainer img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s;
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
}
