

.button {
  height: 40px;
  width: -webkit-fill-available;
  font-family: inherit;
  font-size: 15px;
  font-weight: 525;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}
.btnAdd {
  grid-row: span 1;
  grid-column: span 1;
}

.icon {
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  color: #ffffff;
  margin-right: 5px;
}
.price {
  font-weight: bold;
  color: #8a171a;
  font-size: 1.125em;
}
.tab {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  margin: 0;
  padding: 0;
  color: #000;
}

.row1 {
  height: 20%;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  border-radius: 10px 10px 0 0;
  background-color: #343339;
  border-radius: 0 0 10px 10px;
}
@media (max-width: 768px) {
  .row1 {
    background-color: #343339;
    height: 20%;
  }
  .button {
    margin-bottom: 10px;
  }
}
