.container {
  display: grid;
  grid-template-columns: auto min-content;
  grid-gap: 10px;
  padding: 20px 320px;
}
.slideshow{
    width: 630px;
    border-radius: 20px;
    overflow: hidden;
    z-index: 0;
}
.slideshow img{
    width: 100%;
}