.container {
  height: fit-content;
}
.content {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto auto;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;
}
@media only screen and (max-width: 768px) {
  .content {
    grid-template-columns: auto;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1279px) {
}
@media only screen and (min-width: 1280px) {
}
