.footer {
  height: fit-content;
  border-top: 1px solid #e5e5e5;
  box-sizing: border-box;
}

.containerMid {
  background-color: #fbfbfb;
}
.containerBot {
  background-color: #343339;
  color: #ffffff;
  border-top: 1px solid #e5e5e5;
  box-sizing: border-box;
}

.mid {
  height: fit-content;
  background-color: transparent;
  display: grid;
  grid-gap: 20px;
  grid-auto-flow: column;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;
  padding: 10px 0px;
  margin-left: auto;
  margin-right: auto;
}
.mid img {
  height: 75px;
}
.mid h1 {
  font-size: 16px;
  grid-column: 2;
  grid-row: 1;
}
.mid h2 {
  font-size: 13px;
  grid-column: 2;
  grid-row: 2;
  font-weight: normal;
}
.colLeft {
  justify-self: left;
}
.colMid {
  justify-self: center;
}
.colRight {
  justify-self: right;
}
.bot {
  height: fit-content;
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}
.bot p {
  font-size: 13px;
  margin: 0;
}
@media only screen and (max-width: 768px) {
  .top {
    width: 100vw;
    grid-auto-flow: row;
    padding: 20px;
  }
  .top div {
    justify-self: start;
  }
  .mid {
    width: 100vw;
    grid-auto-flow: row;
    padding: 20px;
  }
  .mid div {
    justify-self: start;
  }
  .bot {
    width: 100vw;
    grid-row-gap: 10px;
    padding: 0px 20px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1279px) {
  .top {
    width: 100vw;
    padding: 20px;
  }
  .mid {
    width: 100vw;
    padding: 20px;
  }
  .bot {
    width: 100vw;
    padding: 0px 20px;
  }
}
@media only screen and (min-width: 1280px) {
  .top {
    width: 1280px;
  }
  .mid {
    width: 1280px;
  }
  .bot {
    width: 1280px;
  }
}
