.container {
  width: 100vw;
  height: fit-content;
}
.content {
  display: grid;
  grid-gap: 10px;
  grid-auto-flow: row;
  padding: 0px 20px;
  margin-left: auto;
  margin-right: auto;
}
.top {
  height: min-content;
  border-top: solid 1px #e5e5e5;
}
.top h1 {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: bold;
  margin-top: 10px;
}
.bot {
  display: grid;
  grid-gap: 10px;
  grid-auto-flow: column;
}
@media only screen and (max-width: 768px) {
  .content {
    width: 100%;
    grid-template-columns: auto;
    padding: 0px 5px;
  }
  .bot {
    overflow-x: scroll;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1279px) {
  .content {
    width: 100%;
  }
  .bot {
    overflow-x: scroll;
  }
}
@media only screen and (min-width: 1280px) {
  .content {
    width: 1280px;
  }
}
