.categoryContainer{
    display: grid;
    grid-template-columns: 1fr;
}
.categoryContainer button{
    text-align: start;
    border: none;
}
.listButton{
    background-color: #f8f8f8;
}
.itemButton{
    background-color: azure;
}