* {
  text-decoration: none;
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  background-color: #efefef;
  font-family: "Work Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.colLeft {
  justify-self: left;
}
.colMid {
  justify-self: center;
}
.colRight {
  justify-self: right;
}